@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
}
body::before{
    content:'';
    background:url(../imagens/bg-pattern-bottom.svg) no-repeat ;
    position: absolute;
    width:50%;
    height:55%;
    top: 0;
    left: 0;
    rotate: 180deg;
}
body::after{
    content:'';
    background: url(../imagens/bg-pattern-bottom.svg) no-repeat;
    position: absolute;
    width: 50%;
    height: 50%;
    bottom:0 ;
    right:0 ;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.container .cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    width: 340px;
    height: 360px;
}

.informacoes-pessoais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    background: url(../imagens/bg-pattern-card.svg) no-repeat ;
    background-size: 100%;
    border-radius: 20px 20px;
}

.informacoes-pessoais img {
    border-radius: 50%;
    border: 6px solid white;
    margin-top: 80px;
}

hr{
    width: 100%;
}
.cartao .informacoes-numeros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.cartao .informacoes-pessoais .nome,
.cartao .informacoes-numeros .info .numeros{
    font-weight: 700;
}
.cartao .informacoes-pessoais .idade,
.cartao .informacoes-pessoais .cidade,
.cartao .informacoes-numeros .info span{
    color:hsl(227, 10%, 46%) ;
}